:root {
    /* fonts */
    --link: "Chakra Petch";

    /* font sizes */
    /* --link-size: 1.5rem; */
    --link-size: clamp(0.5rem,2.5vw,1.5rem);
    --link-icon-size: clamp(0.4rem,1.8vw,1.125rem);

    --toggle-canvas-icon: clamp(1.05rem,4.8vw,3rem);
    --toggle-canvas-icon-box: clamp(1.48rem,6.8vw,4.25rem);
    --toggle-canvas-icon-transform: clamp(0.35rem,1.6vw,1rem);
    --toggle-canvas-icon-transform-negative: clamp(-0.35rem,-1.6vw,-1rem);

    /* Colors */
    --white: #fff;
    --gray: #989898;
    --color-blueviolet: #9747ff;
    --black: #000;

    /* Paddings */
    --padding-xl: 1.25rem;
    --padding-3xs: 0.625rem;
}

html,
body {
    margin: 0;
    padding: 0;
    position: relative;
    line-height: normal;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: var(--link);
    font-size: clamp(0.5rem,5vw,2rem);
    color: var(--white);
    margin: 0;
}

.header {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    max-width: 100%;
    overflow: hidden;
    text-align: right;
    font-size: var(--link-size);
    color: var(--white);
    font-family: var(--link);
    width:clamp(200px,100%,1800px);
    margin-right: auto; 
    margin-left: auto;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo-icon {
    height: clamp(3rem, 12vh, 7.5rem);
    width: auto;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}

.link {
    cursor: pointer;
    display: flex;
    width: clamp(6rem,40vw,22.5rem);
    height: clamp(1rem, 4vh,2.5rem);
    /* height: 2.5rem; */
    /* padding: 0px 2.5rem; */
    gap: 0rem;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--Gray, #989898);
    background-color: transparent;
    background-image: linear-gradient(
        to right,
        var(--White, #fff) 0%,
        var(--White, #fff) 100%
    );
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: all 0.5s ease;

    color: var(--White, #fff);
    text-align: right;

    font-family: var(--link);
    font-size: var(--link-size);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.link:hover {
    background-size: 100% 100%;
    color: var(--Black, #000);
    gap: 0.5rem;
}

.arrow-outward {
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 0;
    transition: width 0.5s ease;
}

.link:hover .arrow-outward {
    opacity: 1;
    width: var(--link-icon-size);
    /* width: 18px; */
}

.toggle-canvas {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: flex-start;
    justify-content: space-between;
    width:clamp(200px,100%,2100px);
    margin-right: auto; 
    margin-left: auto;
}

.canvas-arrow {
    cursor: pointer;
    /* border: 2px solid var(--gray); */
    border: none;
    padding: var(--padding-3xs);
    background-color: transparent;
    /* width: 4.25rem;
    height: 4.25rem; */
    width: var(--toggle-canvas-icon-box);
    height: var(--toggle-canvas-icon-box);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.arrow-icon-left,
.arrow-icon-right {
    /* height: 3rem;
    width: 3rem; */
    width: var(--toggle-canvas-icon);
    height: var(--toggle-canvas-icon);
    position: absolute;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.arrow-icon-hover {
    /* height: 3rem;
    width: 3rem; */
    width: var(--toggle-canvas-icon);
    height: var(--toggle-canvas-icon);
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease;
}

.canvas-arrow:hover {
    /* border-color: var(--White, #fff);
    background-color: var(--White, #fff); */
}

.canvas-arrow:hover .arrow-icon-left {
    opacity: 0;
    /* transform: translateX(-1rem); */
    transform: translateX(var(--toggle-canvas-icon-transform-negative));
}

.canvas-arrow:hover .arrow-icon-right {
    opacity: 0;
    /* transform: translateX(1rem); */
    transform: translateX(var(--toggle-canvas-icon-transform));
}

.canvas-arrow:hover .arrow-icon-hover {
    opacity: 1;
    transform: translateX(0);
}

.div {
    width: 8rem;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    box-sizing: border-box;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
}

.footer {
    display: flex;
    align-self: stretch;
    height: 4.25rem;
    flex-shrink: 0;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    font-size: 1rem;
    color: var(--white);
    font-family: var(--link);
}

@media screen and (max-width: 450px) {
    .link {
        padding-left: var(--padding-xl);
        box-sizing: border-box;
    }
    .nav {
        display: none;
    }
    .toggle-canvas {
        flex-wrap: wrap;
    }

    .slidyboy {
        width: 75%;
    }

    .paradox {
        font-size: 2rem;
        width: 200px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
    }
}

.slidyboy {
    position: absolute;
    top: 15%;
    right: 0px;
    padding-top: 0px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transform: translate(75vw, 0px);
    width: 65%;
    height: 65%;
    transition: all 0.75s ease;
    background-color: rgb(0, 0, 0, 0.5);
    opacity: 1;
    overflow-y: scroll;
}

.slidyboy.toggled {
    transform: translate(0vw, 0px);
    opacity: 1;
}

.slidyboy-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    max-width: 100%;
    overflow: hidden;
}

.close-icon:hover {
    cursor: pointer;
}

.close-icon:hover path{
    fill: var(--white);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
